:root {
  --Slate-300: hsl(212, 45%, 89%);
  --Slate-500: hsl(216, 15%, 48%);
  --Slate-900: hsl(218, 44%, 22%);
  --main-space: 1rem;
  --img-size: 18rem;
}
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  width: 100dvw;
  height: 100dvh;
  background-color: var(--Slate-300);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
main {
  font-family: "Outfit", sans-serif;
  background-color: white;
  text-align: center;
  max-width: 320px;
  padding: var(--main-space) var(--main-space) 2.5rem;
  border-radius: 1.25rem;
  caret-color: transparent;
  box-shadow: 0 1.5625rem 1.5625rem rgba(0, 0, 0, 0.0477);
}
main img {
  border-radius: 0.625rem;
}
main img {
  width: var(--img-size);
  height: var(--img-size);
  margin-bottom: 1.5rem;
}
main h1,
main img,
main p {
  display: block;
}
main h1 {
  font-size: 1.375rem;
  line-height: 120%;
  margin-bottom: var(--main-space);
  color: var(--Slate-900);
}
main p {
  font-size: 0.9375rem;
  text-align: center;
  color: var(--Slate-500);
  letter-spacing: 0.0125rem;
  line-height: 140%;
}
main article {
  height: fit-content;
  padding: 0 var(--main-space);
  caret-color: black;
}
